<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#" class="languages">HTML</a></li>
  <li role="presentation" ><a href="#" class="languages">CSS</a></li>
  <li role="presentation" ><a href="#" class="languages">JavaScript</a></li>
</ul>
<div class ="container">
<div id='html_editor'></div>
<div id='css_editor'></div>
<div id='javascript_editor'></div>

<button type="button" class="btn btn-primary">Render HTML</button>

<iframe id="renderbox" srcdoc="" src = #></iframe>
</div>

