<form class = 'dyslexic dyslexic_checkbox' action="">
<input id = "opendyslexic" type="checkbox" name="dyslexic" value="OpenDyslexicMono">OpenDyslexic<br>
</form>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#" class="languages dyslexic">HTML</a></li>
  <li role="presentation" ><a href="#" class="languages">CSS</a></li>
  <li role="presentation" ><a href="#" class="languages">JavaScript</a></li>
</ul>
<div class ="container">
  <div>
    <div id='html_editor'></div>
    <div id='css_editor'></div>
    <div id='javascript_editor'></div>
  </div>
  <button type="button" class="render_code btn btn-primary">Render Code</button>
  <button type="button" class="save_code btn btn-primary">Save</button>

  <iframe id="renderbox" srcdoc="" src = #></iframe>
</div>
